# Get them from your Pinecone account dashboard
export PINECONE_API_KEY=here_api_pinecone
export PINECONE_ENVIRONMENT=gcp-starter

# Get them from your OpenAI account
export OPENAI_API_KEY=here_api_openai
